.intro-content{
    position: relative;
    /* top: -8rem; */
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.intro-img img, .intro-img svg{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 350px;
}

.top3-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading{
    margin-bottom: 1rem;
}

.grid-description{
    padding-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -1rem;
    transform: rotate(5deg);
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form {
    border: none;
    display: block;
}



.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group{
    padding: 12px;
    text-align:end
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}
.form-group input {
    width: 600px;
    height: 90px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Deixa os cantos arredondados */
    box-sizing: border-box;
}
.form-group input, .form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    outline: none;
}

.form-group textarea {
    width: 100%;
}

.form-group input:focus, .form-group textarea:focus{
    box-shadow: 0 0 1rem 0.2rem var(--secondary-color);
}

.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder{
    color: var(--light-gray-color);
}

.footer{
    text-align: center;
}

.footer a{
    color: var(--primary-color);
}

.heart{
    color: var(--secondary-color);
}

.footer p{
    margin: 0;
    padding: 3rem;
}

.close-menu{
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 0.2rem solid var(--light-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
}

.div-section-zoom {
    zoom: 0.6;
}

.space-from-top-h2 {
    margin-top: 50px;
}

.space-from-top-label {
    margin-top: 10px;
}

.fill-in {
    width: 100%;
}

.align-my-text {
    text-align: center;
}

.reduce-space-little {
    margin-top: -20px;
}

.form-grid{
    border: none;
    display: grid;
    grid-template-columns: 800px 800px;
    gap: 100px;
    padding: 20px;

}

.job-group {
    background-color: #101f59;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgb(0, 2, 28);
    transition: transform 0.2s, box-shadow 0.2s;
}

.job-group:hover {
    transform: tranlateY(-5px);
    box-shadow: 0 6px 15px rgb(0, 4, 30);
}

.job-group h4 {
    margin: 18px;
    font-size: 40px;
}

.job-group p {
    margin: 12px 0;
}



@media (max-width: 800px) {
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .grid-one-content{
        display: block;
    }
    
    .contact-form {
        grid-column: span 1;
    } 

    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    .menu{
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }

    .menu-spacing {
        display: none;
    }
    
}