.intro-content{
    position: relative;
    /* top: -8rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.intro-img img, .intro-img svg{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 350px;
}

.top3-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading{
    margin-bottom: 1rem;
}

.grid-description{
    padding-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -1rem;
    transform: rotate(5deg);
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
    justify-content: center;
}

.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group{
    padding: 12px;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}
.form-group input {
    width: 600px;
    height: 90px;
    font-size: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Deixa os cantos arredondados */
    box-sizing: border-box;
}
.form-group input, .form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    outline: none;
}

.form-group textarea {
    width: 100%;
}

.form-group input:focus, .form-group textarea:focus{
    box-shadow: 0 0 1rem 0.2rem var(--secondary-color);
}

.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder{
    color: var(--light-gray-color);
}

.footer{
    text-align: center;
}

.footer a{
    color: var(--primary-color);
}

.heart{
    color: var(--secondary-color);
}

.footer p{
    margin: 0;
    padding: 3rem;
}

.close-menu{
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 7rem;
    right: 2rem;
    background: var(--white-color);
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 0.2rem solid var(--light-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    color: var(--primary-color)
}

.div-section-zoom {
    zoom: 0.6;
}

.space-from-top-h2 {
    margin-top: 50px;
}

.space-from-top-label {
    margin-top: 10px;
}

.space-from-top-div {
    margin-top: 30px;
}

.fill-in {
    width: 100%;
}

.align-my-text {
    text-align: center;
}

.reduce-space-little {
    margin-top: -20px;
}

.left-align-my-text {
    text-align: left;
}

.historico-text-content {
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    margin-top: 150px;
}

.padding-space{
    padding: 30px;
}

.form-group-two {
    padding: 12px;
    margin-left: -12px;
    margin-top: 20px;
}

.form-group-two button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group-two button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}

.area-infos{
    border-top: 6px solid #c8c8c8;
    border-bottom: 6px solid #c8c8c8;
    padding: 0 16px;
}

.area-infos-items{
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding: 30px;
}

.gallery-img-three {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-height: 36rem;
    overflow: hidden;
    align-items: center;
}

.gallery-img-three img{
    max-width: 120px;
    max-height: 100px;
    transition: transform 0.3s ease;
    transform-origin: center; /* Garante que o zoom seja centralizado */
}

.gallery-img-three img:hover{
    transform: scale(1.08);
}

.gallery-img-four {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-height: 36rem;
    overflow: hidden;
    align-items: center;
}

.gallery-img-four img{
    max-width: 60px;
    max-height: 50px;
    transition: transform 0.3s ease;
    transform-origin: center; /* Garante que o zoom seja centralizado */
}

.gallery-img-four img:hover{
    transform: scale(1.08);
}


.gallery-horizontal-space{
    display: flex;
    margin-left: 150px;
}

.gallery-horizontal-space-two{
    display: flex;
}

.descricao-img-three {
    margin-left: 20px;
    margin-top: 35px;
}

.descricao-img-four {
    margin-left: 20px;
    margin-top: 10px;
}

.descricao-img-five {
    background: #ebe6e6;
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    font-style: italic;
    border-radius: 20px;
    color: black;
}

@media (max-width: 800px) {
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .grid-one-content{
        display: block;
    }
    
    .contact-form {
        grid-column: span 1;
    } 

    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    .menu{
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }

    .menu-spacing {
        display: none;
    }

    

}